
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;  font-size: 18px;
  color: #023047;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
